* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row {
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
    background-color: palevioletred;
}

.win {
    color: green;
    font-size: 30px;
}

.loss {
    color: red;
    font-size: 30px;
}